/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: rgb(223,58,0);
background: radial-gradient(circle, rgba(223,58,0,1) 0%, rgba(162,42,4,1) 52%, rgba(215,57,0,1) 100%);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* done resets */
:root{
    --fc-blue:#028dbd;
    --fc-yellow:#f1da2b;

}
body{ 
    font-family: 'Marhey', cursive;
}
a{
    color:inherit;
    text-decoration: none;
}
ul,li{
    list-style: none;

}
input{
  border: none;
  outline:none;
  padding:0.5em;
  border-radius: 5px;
}
select{
  padding:0.5em;
  border-radius: 5px;
}
label{
  font-size:1.125rem;
  font-weight:700;
}
button{
  padding:0.5rem;
  outline:none;
  border-radius:5px;
}
.current{
    color:var(--fc-yellow);
}
.logo{
    height:50px;
    width:50px;
}
.nav_list{
    align-items: center;
}
.nav_item a{
    transition: all ease-in-out 0.2s;
    font-weight: 700;
    display: block;
}
.nav_item a:hover{
 color:var(--fc-yellow);
 opacity:0.7;

}
.nav_item{
    position: relative;
}
.nav_item::after{
    content: "";
    background-image: url('./graphics/Flying_Nimbus.webp');
    background-repeat: no-repeat;
    position: absolute;
    bottom: -17px;
    left: 0;
    height: 23px;
    width: 100%;
    transform: translateX(0);
    visibility: hidden;
    transform-origin: left;
    transition: transform linear 0.3s;
}
.nav_item:hover::after{
    visibility: visible;
    transform: translateX(70%);
}
.hero{
  margin-bottom:1em;
}
.hero img{
  border-radius:5px;
}

#myChoiceForm{
  width:50%;
}

/*utils*/
.bg-white{
  background-color: white;
}
.flex{
    display: flex;
}
.flex-col{
  flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.gap-2{
  gap:0.5em;
}
.gap-4{
    gap:1rem;
}

.px-4{
    padding-left:1rem;
    padding-right:1rem;
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mb-4{
  margin-bottom:1em;
}

.items-center{
    align-items: center;
}
.self-end{
  align-self: flex-end;
}
.justify-around{
  justify-content: space-around;
}
.w-1\/2{
    width:50%;
}
.max-w-1\/2{
  max-width: 50%;
}
.max-w-8{
  max-width:20rem;
}
.rounded{
  border-radius:5px;
}
.border-blue{
  border:2px solid var(--fc-blue);
}
.fs-bigger{
  font-size:1.5rem;
}
.text-underline{
  text-decoration: underline;
}
.text-blue{
  color:var(--fc-blue);
}
@media (max-width: 1000px){
  .hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-text{
    max-width:100%;
  }
  .form-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #myChoiceForm{
    width:90%;
    align-self: center;
  }
}
